/*.containerSelf{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    !*width: 80%;*!*/
/*    max-width: 1280px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/
/*----------------------------tvForm--------------------------------*/
.tvFormDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5rem;
    padding: 20px;

}
.headerInput {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.03);
}
.formCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    width: 100%;
    height: 100%;
    /*width: 570px;*/
    /*height: 500px;*/
    border: 1px solid rgba(0,0,0,.125);
    padding: 1.25rem;
}
/*-------------------------slider------------------------*/
.slider{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sliderBtn {
    height: 20px;
    width: 20px;
    margin: 10px;
    padding: 5px;
    display: block;
    border-radius: 50%;
}
.sliderBtn:focus {
    outline: 0;
}
/*------------------------------sortCartDiv--------------------*/
.sortCartDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}
.showTvs {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
}
/*showInfo*/
.containerShow{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top : 10px;
}
.shoppingSubmit {
    display: flex;
    flex-direction: column;
    background-color: #ced4da;
    padding: 10px 60px 10px 60px;
    position: absolute;
    text-align: center;
    top: 100px;
    z-index: 1;
    right: 10%;
    border-radius: 0.25rem;
}
.showInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1280px;
    max-height: 1280px;
}
.infoArea{
    background-color: rgba(45,45,45,0.1);
    text-align: center;
    padding: 10px;
    width: 80%;
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 1.25rem;
}
.items {
    display: flex;
    width: 180px;
    height: 180px;
}
.smallPic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.infoCard {
    display: flex;
    width: 100%;
}
.cartDiv {
    display: flex;
    flex-direction: row;
}
.numInput {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: .25rem;
}
/*SearchBar--------------------------*/
.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: lightgray;*/
}
.searchInputArea{
    display: flex;
    width: 90%;
}
.searchInput{
    display: flex;
    width: 100%;
    padding-left: .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.searchBtn{
    display: flex;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    cursor: pointer;
}
/*tvForm----------------------------*/
.tvContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*---------------------Cart-------------------*/
.cartTitle {
    background-color: rgba(44,101,50,0.19);
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 2.25rem;
    color: gray;
    border-radius: .25rem;
}
.emptyCart{
    text-align: center;
    color: #ced4da;
    margin-top: 10px;
}
